[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "thupypi"

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.4"
